<div id="lead-info-container" class="lead-info">
    <div class="lead-info">
    <span><strong>First Name:</strong>{{first_name}}</span>
    <span><strong>Last Name:</strong> {{last_name}}</span>
    <span><strong>Email:</strong> {{email}}</span>
    <span><strong>Address:</strong> {{address}} South Jordan Utah</span>
    </div>
    <div class="link-div">
    <a href="/admin/edit/lead/{{id}}">edit lead</a>
    </div>
    <div>
       <!--<video controls width="288" height="288" src="/images/{{walk_through_video}}"></video>-->
    </div>
</div>