<section class="edit-lead-section">
<form class="form" id="lead-edit-form" action="/get-cash-offer" method="post" enctype="multipart/form-data">
<div  class="label-input-container" > 
  <label for="first-name" name="first_name">Edit First Name</label>
  <input type="text" name="first_name" placeholder="{{lead.first_name}}" />
 </div> 
<div  class="label-input-container" > 
  <label for="last-name" name="last_name">Edit Last Name</label>
  <input type="text" name="last_name" placeholder="{{lead.last_name}}"/>
 </div> 
<div  class="label-input-container"> 
  <label for="email" name="email">Edit Email</label>
  <input type="email" name="email" placeholder="{{lead.email}}" />
 </div> 
<div class="label-input-container" > 
  <label  for="address" name="address">Edit Address</label>
  <input id="autocomplete" placeholder="{{lead.address}}" type="text" name="address" />
 </div> 
<div class="submit-btn-container">
 <button type="submit" class="submit-btn" >Submit</button>
</div>
</form>
<div class="delete-btn-container">
 <button id="delete-lead-btn" data-id="{{lead.id}}" type="button" >delete</button>
</div>
</section>
<script src="/javascript/edit-lead.js"></script>
<script src="/javascript/delete-lead.js"></script>
<script src="/javascript/logout-button.js"></script>


